<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xue.Common.Dao.UserDao">
	
	<resultMap type="com.xue.Common.Entity.User" id="User">
	<id column="id" property="id" javaType="String" jdbcType="VARCHAR"></id>
	<result column="uname" property="uname" javaType="String" jdbcType="VARCHAR"></result>
	<result column="upsw" property="upsw" javaType="String" jdbcType="VARCHAR"></result>
	<result column="truename" property="truename" javaType="String" jdbcType="VARCHAR"></result>
	
	</resultMap>
	

	<!-- 全查询 -->
	<select id="query" resultType="com.xue.Common.Entity.User">
		select * from users
	</select>
	
	<!-- 分页查询 -->
	<select id="listpage" resultType="com.xue.Common.Entity.User" parameterType="com.xue.Common.Entity.User">
		
		 <![CDATA[
            ${value} 
          ]]>
	</select>
	
	<!--通过username和userpassword查询  -->
	<select id="findUserByNameAndPwd" resultType="map" parameterType="com.xue.Common.Entity.User">
		select * from users where uname=#{uname} and upsw=#{upsw}
	</select>
	
    <delete id="delete" parameterType="com.xue.Common.Entity.User">
	delete from users where id=#{id}
	</delete>
	
	<!-- 用户添加 -->
    <insert id="add" parameterType="com.xue.Common.Entity.User">
        insert into users values(#{id},#{uname},#{upsw},#{truename})
    </insert>
    
    <!-- 用户修改 -->
    <update id="update" parameterType="com.xue.Common.Entity.User">
        update users set uname=#{uname},upsw=#{upsw},truename=#{truename} where id=#{id}
    </update>
    
</mapper>